// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

#include "canoe-sde-hfi.dtsi"
#include "canoe-sde-display-common-hfi.dtsi"

&sde_dsi2 {
	vddio-supply = <&L12B>;
	vci-supply = <&L13B>;
	vdd-supply = <&L11B>;
	tvdd-supply = <&L4B>;

	pinctrl-names = "panel_active", "panel_active_with_esync", "panel_suspend";
	pinctrl-0 = <&sde_dsi_active &sde_te_active &sde_esync0_suspend
			&sde_mdp_vsync_p_1p2_active &sde_mdp_vsync_p_1p8_active
			&sde_disp0_rst_1p2_active &sde_disp0_rst_1p8_active>;
	pinctrl-1 = <&sde_dsi_active &sde_te_active &sde_esync0_active
			&sde_mdp_vsync_p_1p2_active &sde_mdp_vsync_p_1p8_active
			&sde_disp0_rst_1p2_active &sde_disp0_rst_1p8_active>;
	pinctrl-2 = <&sde_dsi_suspend &sde_te_suspend &sde_esync0_suspend
			&sde_mdp_vsync_p_1p2_active &sde_mdp_vsync_p_1p8_active
			&sde_disp0_rst_1p2_active &sde_disp0_rst_1p8_active>;
};

&sde_dsi3 {
	vddio-supply = <&L12B>;
	vci-supply = <&L13B>;
	vdd-supply = <&L11B>;
	tvdd-supply = <&L4B>;

	pinctrl-names = "panel_active", "panel_active_with_esync", "panel_suspend";
	pinctrl-0 = <&sde_dsi1_active &sde_te1_active &sde_esync1_suspend>;
	pinctrl-1 = <&sde_dsi1_active &sde_te1_active &sde_esync1_active>;
	pinctrl-2 = <&sde_dsi1_suspend &sde_te1_suspend &sde_esync1_suspend>;
};

&mdss_mdp1 {
	connectors = <&sde_dsi2 &sde_dsi3 &smmu_sde_unsec1 &smmu_sde_sec1>;
};
