/* this is original from crow-sde-display-mtp.dtsi */

#include "crow-sde-display.dtsi"
#include "dsi-panel-mot-dummy-qhd-video.dtsi"
#include "dsi-panel-mot-csot-vtdr6126-667-1220x2712-dsc-video-144hz-common-v0.dtsi"
#include "dsi-panel-mot-csot-vtdr6126-c-667-1220x2712-dsc-video-144hz-common.dtsi"
#include "dsi-panel-mot-csot-vtdr6126-c-667-1220x2712-dsc-video-144hz-common-lhbm.dtsi"
#include "crow-eqe-touchscreen-overlay.dtsi"

&soc {
	dsi_panel_pwr_supply_eqe: dsi_panel_pwr_supply_eqe {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,panel-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "vddio";
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-enable-load = <200000>;
			qcom,supply-disable-load = <80>;
			qcom,supply-post-on-sleep = <0>;
		};

		qcom,panel-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "vdd";
			qcom,supply-min-voltage = <1200000>;
			qcom,supply-max-voltage = <1200000>;
			qcom,supply-enable-load = <299000>;
			qcom,supply-disable-load = <0>;
			qcom,supply-post-on-sleep = <0>;
		};

		qcom,panel-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "vci";
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-enable-load = <10000>;
			qcom,supply-disable-load = <0>;
			qcom,supply-post-on-sleep = <0>;
		};
	};

};


&mot_csot_vtdr6126_667_1220x2712_dsc_vid_144hz {
	qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";

	qcom,dsi-supported-dfps-list = <144 120 90 60>;
	qcom,mdss-dsi-pan-enable-dynamic-fps;
	qcom,mdss-dsi-pan-fps-update = "dfps_immediate_porch_mode_vfp";
	qcom,mdss-dsi-pan-dfps-send-command;

	//qcom,dsi-dyn-clk-enable;

	qcom,panel-supply-entries = <&dsi_panel_pwr_supply_eqe>;
	qcom,mdss-dsi-no-panel-on-read-support;
	qcom,mdss-dsi-bl-pmic-control-type = "bl_ctrl_dcs";
	qcom,mdss-dsi-bl-min-level = <420>;//
	qcom,mdss-dsi-bl-max-level = <16000>;
	qcom,mdss-dsi-bl-default-level = <10230>;
	qcom,mdss-brightness-max-level = <16000>;
	qcom,platform-reset-gpio = <&tlmm 29 0>;
	qcom,bl-dsc-cmd-state = "dsi_hs_mode";
	qcom,mdss-dsi-bl-inverted-dbv;
	qcom,mdss-dsi-bl-is-exponent;
	qcom,mdss-dsi-bl-double-write;

	qcom,mdss-dsi-panel-hdr-enabled;//
	qcom,mdss-dsi-panel-hdr-color-primaries = <14950 15750 34000
	        16000 13000 35500 7000 2500>;
	qcom,mdss-dsi-panel-peak-brightness = <15000000>;
	qcom,mdss-dsi-panel-blackness-level = <1>;

	qcom,mdss-dsi-panel-status-check-mode = "reg_read";
	qcom,mdss-dsi-panel-status-command = [06 01 00 01 00 00 01 66];
	qcom,mdss-dsi-panel-status-command-state = "dsi_lp_mode";
	qcom,mdss-dsi-panel-status-value = <0 0 0>;
	qcom,mdss-dsi-panel-status-read-length = <3>;
	//qcom,esd-check-enabled;

	qcom,cellid-read-enabled;//
	qcom,mdss-dsi-panel-cellid-read-length = <23>;
	qcom,mdss-dsi-panel-cellid-command = [06 01 00 01 00 00 01 5A];

	qcom,mdss-dsi-display-timings {
		timing@0 {
			//qcom,mdss-dsi-panel-clockrate = <1095000000>;
			qcom,mdss-dsi-panel-phy-timings = [00 24 0A 0A 1A 25 09
				0A 09 02 04 00 1E 0F];
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_csot_vtdr6126_c_667_1220x2712_dsc_vid_144hz {
       qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";

       qcom,dsi-supported-dfps-list = <144 120 90 60>;
       qcom,mdss-dsi-pan-enable-dynamic-fps;
       qcom,mdss-dsi-pan-fps-update = "dfps_immediate_porch_mode_vfp";
       qcom,mdss-dsi-pan-dfps-send-command;

       //qcom,dsi-dyn-clk-enable;

       qcom,panel-supply-entries = <&dsi_panel_pwr_supply_eqe>;
       qcom,mdss-dsi-no-panel-on-read-support;
       qcom,mdss-dsi-bl-pmic-control-type = "bl_ctrl_dcs";
       qcom,mdss-dsi-bl-min-level = <420>;//
       qcom,mdss-dsi-bl-max-level = <16000>;
       qcom,mdss-dsi-bl-default-level = <10230>;
       qcom,mdss-brightness-max-level = <16000>;
       qcom,platform-reset-gpio = <&tlmm 29 0>;
       qcom,bl-dsc-cmd-state = "dsi_hs_mode";
       qcom,mdss-dsi-bl-inverted-dbv;
       qcom,mdss-dsi-bl-is-exponent;
       qcom,mdss-dsi-bl-double-write;

       qcom,mdss-dsi-panel-hdr-enabled;//
       qcom,mdss-dsi-panel-hdr-color-primaries = <14950 15750 34000
               16000 13000 35500 7000 2500>;
       qcom,mdss-dsi-panel-peak-brightness = <15000000>;
       qcom,mdss-dsi-panel-blackness-level = <1>;

       qcom,mdss-dsi-panel-status-check-mode = "reg_read";
       qcom,mdss-dsi-panel-status-command = [06 01 00 01 00 00 01 66];
       qcom,mdss-dsi-panel-status-command-state = "dsi_lp_mode";
       qcom,mdss-dsi-panel-status-value = <0 0 0>;
       qcom,mdss-dsi-panel-status-read-length = <3>;
       //qcom,esd-check-enabled;

       qcom,cellid-read-enabled;//
       qcom,mdss-dsi-panel-cellid-read-length = <23>;
       qcom,mdss-dsi-panel-cellid-command = [06 01 00 01 00 00 01 5A];

       qcom,mdss-dsi-display-timings {
               timing@0 {
                       //qcom,mdss-dsi-panel-clockrate = <1095000000>;
                       qcom,mdss-dsi-panel-phy-timings = [00 24 0A 0A 1A 25 09
                               0A 09 02 04 00 1E 0F];
                       qcom,display-topology = <2 2 1>;
                       qcom,default-topology-index = <0>;
               };
       };
};


&mot_dummy_vid_qhd {
	qcom,platform-reset-gpio = <&tlmm 29 0>;
	qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			qcom,mdss-dsi-panel-width = <1080>;
			qcom,mdss-dsi-panel-height = <2400>;
			qcom,display-topology = <1 0 1>;
			qcom,default-topology-index = <0>;
        };
    };
};


&sde_dsi {
	qcom,dsi-default-panel = <&mot_dummy_vid_qhd>;
};

&qupv3_se0_spi {
    goodix-berlin@0 {
        panel = <&mot_csot_vtdr6126_667_1220x2712_dsc_vid_144hz
                 &mot_csot_vtdr6126_c_667_1220x2712_dsc_vid_144hz>;
    };
};

&sde_dp {
    qcom,dp-downgrade;
    qcom,dp-aux-switch = <&fsa4480>;
};

