&mdss_mdp {
	mot_boe_icnl9922c_672_1080x2400_dsc_vid_120hz: qcom,mdss_dsi_mot_boe_icnl9922c_672_dsc_120hz_vid_fhd {
		qcom,mdss-dsi-panel-name = "mipi_mot_vid_boe_1080p_dsc_672_120hz";
		qcom,mdss-dsi-panel-type = "dsi_video_mode";
		qcom,dsi-ctrl-num = <0>;
		qcom,dsi-phy-num = <0>;
		qcom,mdss-dsi-virtual-channel-id = <0>;
		qcom,mdss-dsi-stream = <0>;
		qcom,mdss-pan-physical-width-dimension = <70>;
		qcom,mdss-pan-physical-height-dimension = <156>;
		qcom,mdss-dsi-bpp = <24>;
		qcom,mdss-dsi-border-color = <0>;
		qcom,mdss-dsi-traffic-mode = "non_burst_sync_event";
		qcom,mdss-dsi-bllp-power-mode;
		qcom,mdss-dsi-bllp-eof-power-mode;
		qcom,mdss-dsi-lane-0-state;
		qcom,mdss-dsi-lane-1-state;
		qcom,mdss-dsi-lane-2-state;
		qcom,mdss-dsi-lane-3-state;
		qcom,mdss-dsi-dma-trigger = "trigger_sw";
		qcom,mdss-dsi-mdp-trigger = "none";
		qcom,mdss-dsi-reset-sequence = <1 10>, <0 2>, <1 10>;
		qcom,mdss-dsi-tx-eot-append;
		qcom,adjust-timer-wakeup-ms = <1>;

		qcom,mdss-dsi-display-timings {
			timing@0 {
				//cell-index = <0>;
				qcom,mdss-dsi-panel-width = <1080>;
				qcom,mdss-dsi-panel-height = <2400>;
				qcom,mdss-dsi-h-front-porch = <32>;
				qcom,mdss-dsi-h-back-porch = <32>;
				qcom,mdss-dsi-h-pulse-width = <4>;
				qcom,mdss-dsi-h-sync-skew = <0>;
				qcom,mdss-dsi-v-back-porch = <32>;
				qcom,mdss-dsi-v-front-porch = <38>;
				qcom,mdss-dsi-v-pulse-width = <4>;
				qcom,mdss-dsi-panel-framerate = <120>;
				qcom,mdss-dsi-on-command = [
					39 00 00 40 00 00 04 F0 99 22 0C
					39 00 00 40 00 00 19 C1 00 00 20 26 26 04 20 20 04 60 19 22 50 01 12 07 5F FF A0 00 93 10 10 00
					39 00 00 40 00 00 14 E0 0C 00 B0 0C 00 15 7C 29 04 21 01 00 00 00 00 2E 17 0C 18
					39 00 00 40 00 00 03 35 00 00
					39 00 00 40 00 00 03 51 07 FF
					39 00 00 40 00 00 03 53 2C 00
					39 00 00 40 02 00 03 55 03 00
					39 00 00 40 00 00 04 F0 00 00 00
					05 00 00 00 5A 00 02 11 00
					05 00 00 00 0A 00 02 29 00
					39 00 00 00 00 00 03 AC 05 00
				];
				qcom,mdss-dsi-on-command-state = "dsi_lp_mode";
				qcom,mdss-dsi-off-command = [
					39 00 00 40 00 00 03 AC 0A 00
					05 00 00 00 14 00 01 28
					05 00 00 00 64 00 01 10
				];
				qcom,mdss-dsi-off-command-state = "dsi_lp_mode";

				qcom,mdss-dsi-off-deep-standby-command = [
					39 00 00 40 00 00 04 F0 99 22 0C
					39 00 00 00 1E 00 03 CC 01 00
				];
				qcom,mdss-dsi-off-deep-standby-command-state =  "dsi_lp_mode";

				qcom,mdss-dsi-off-post-command = [
					39 00 00 40 00 00 04 F0 99 22 0C
					39 00 00 40 00 00 0B D0 0C 23 18 FF FF 00 80 0C 00 00
					39 00 00 00 01 00 04 D0 0C 23 C0
				];
				qcom,mdss-dsi-off-post-command-state =  "dsi_lp_mode";

				qcom,compression-mode = "dsc";
				qcom,mdss-dsc-slice-height = <12>;
				qcom,mdss-dsc-slice-width = <540>;
				qcom,mdss-dsc-slice-per-pkt = <2>;
				qcom,mdss-dsc-bit-per-component = <8>;
				qcom,mdss-dsc-bit-per-pixel = <8>;
				qcom,mdss-dsc-block-prediction-enable;
			};
		};
	};
};
