#include "kalama-sde.dtsi"

&soc {
	sde_wb: qcom,wb-display@0 {
		compatible = "qcom,wb-display";
		cell-index = <0>;
		label = "wb_display";
	};
};

&mdss_mdp {
	connectors = <&smmu_sde_unsec &sde_wb>;
};

