// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include "trustedvm-kera-sde.dtsi"
#include "trustedvm-kera-sde-display-qrd.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Kera SVM QRD";
	compatible = "qcom,kera-qrd", "qcom,kera", "qcom,kerap-qrd", "qcom,kerap",
			"qcom,qrd";
	qcom,msm-id = <686 0x10000>, <659 0x10000>;
	qcom,board-id = <0x1000B 0>, <0x2000B 0>, <0x3000B 0>;
};
