// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include "trustedvm-kera-sde.dtsi"
#include "trustedvm-kera-sde-display-mtp.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Kera SVM ATP";
	compatible = "qcom,kera-atp", "qcom,kera", "qcom,kerap-atp", "qcom,kerap",
			"qcom,atp";
	qcom,msm-id = <686 0x10000>, <659 0x10000>;
	qcom,board-id = <33 0>;
};
