#include "volcano-sde-display.dtsi"
#include "dsi-panel-mot-dummy-qhd-video.dtsi"
#include "dsi-panel-mot-boe-nt37713-678_1272x2772-dsc-video-144hz-common.dtsi"
#include "dsi-panel-mot-boe-nt37713-678_1272x2772-dsc-video-144hz-common-v1.dtsi"
#include "dsi-panel-mot-tm-vtdr6126a-678_1272x2772-dsc-video-144hz-common.dtsi"

&mdss_mdp {
	connectors = <&sde_dsi &smmu_sde_unsec &sde_wb2 &sde_rscc>;
};

&sde_dp {
	status = "disabled";
};

&soc {
	dsi_panel_pwr_supply_marvel: dsi_panel_pwr_supply_marvel {
		#address-cells = <1>;
		#size-cells = <0>;

		qcom,panel-supply-entry@0 {
			reg = <0>;
			qcom,supply-name = "vddio";
			qcom,supply-min-voltage = <1800000>;
			qcom,supply-max-voltage = <1800000>;
			qcom,supply-enable-load = <200000>;
			qcom,supply-disable-load = <80>;
			qcom,supply-post-on-sleep = <0>;
		};

		qcom,panel-supply-entry@1 {
			reg = <1>;
			qcom,supply-name = "vdd";
			qcom,supply-min-voltage = <1200000>;
			qcom,supply-max-voltage = <1200000>;
			qcom,supply-enable-load = <299000>;
			qcom,supply-disable-load = <0>;
			qcom,supply-post-on-sleep = <0>;
		};

		qcom,panel-supply-entry@2 {
			reg = <2>;
			qcom,supply-name = "vci";
			qcom,supply-min-voltage = <3000000>;
			qcom,supply-max-voltage = <3000000>;
			qcom,supply-enable-load = <10000>;
			qcom,supply-disable-load = <0>;
			qcom,supply-post-on-sleep = <0>;
		};
	};
};

&mot_boe_nt37713_678_1272x2772_dsc_vid_v1 {
	qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";

	qcom,dsi-supported-dfps-list = <120 144 90 60>;
	qcom,mdss-dsi-pan-enable-dynamic-fps;
	qcom,mdss-dsi-pan-fps-update = "dfps_immediate_porch_mode_cus";
	qcom,dsi-supported-dfps-vfp-list = <48 44 996 2892>;
	qcom,dsi-supported-dfps-hfp-list = <108 16 108 108>;
	qcom,mdss-dsi-pan-dfps-send-command;

	qcom,panel-supply-entries = <&dsi_panel_pwr_supply_marvel>;
	qcom,mdss-dsi-no-panel-on-read-support;
	qcom,mdss-dsi-bl-pmic-control-type = "bl_ctrl_dcs";
	qcom,mdss-dsi-bl-min-level = <420>;//
	qcom,mdss-dsi-bl-max-level = <16248>;
	qcom,mdss-dsi-bl-default-level = <10230>;
	qcom,mdss-brightness-max-level = <16248>;
	qcom,platform-reset-gpio = <&tlmm 12 0>;
	qcom,bl-dsc-cmd-state = "dsi_lp_mode";

	qcom,mdss-dsi-bl-inverted-dbv;
	qcom,mdss-dsi-bl-is-exponent;

	qcom,mdss-dsi-panel-hdr-enabled;//
	qcom,mdss-dsi-panel-hdr-color-primaries = <14950 15750 34000
	        16000 13000 35500 7000 2500>;
	qcom,mdss-dsi-panel-peak-brightness = <15000000>;
	qcom,mdss-dsi-panel-blackness-level = <1>;

	qcom,mdss-dsi-panel-status-check-mode = "reg_read";
	qcom,mdss-dsi-panel-status-command = [06 01 00 01 00 00 01 0A];
	qcom,mdss-dsi-panel-status-command-state = "dsi_lp_mode";
	qcom,mdss-dsi-panel-status-value = <0x9C>;
	qcom,mdss-dsi-panel-status-read-length = <1>;
	qcom,esd-check-enabled;

	qcom,cellid-read-enabled;//
	qcom,mdss-dsi-panel-cellid-read-length = <23>;
	qcom,mdss-dsi-panel-cellid-command = [06 01 00 01 00 00 01 AC];
	qcom,mdss-dsi-panel-cellid-command-state = "dsi_lp_mode";

	qcom,check_pcd;
	qcom,pcd-reg-read-enabled;
	qcom,pcd-reg-check-before-read;
	qcom,mdss-dsi-panel-pcd-reg-read-length = <1>;
	qcom,mdss-dsi-panel-pcd-reg-mask = <0xFF>;
	qcom,mdss-dsi-panel-pcd-reg-command = [06 01 00 01 00 00 01 D0];
	qcom,mdss-dsi-panel-pcd-reg-pass-array-size = <4>;
	qcom,mdss-dsi-panel-pcd-reg-pass-array = <0x80 0x81 0x82 0x83>;
	qcom,mdss-dsi-panel-pcd-reg-read-delay-ms = <150>;
	qcom,mdss-dsi-panel-pcd-reg-seq-interval = <30>; //pcd reg read seq interval per screen on.
	qcom,mdss-dsi-panel-pcd-check-time-interval-in-minutes = <60>; //pcd reg read time interval in minutes.

	// only parse for cmd panel
	qcom,mdss-dsi-te-pin-select = <1>;
	qcom,mdss-dsi-te-dcs-command = <1>;
	qcom,mdss-dsi-te-using-te-pin;
	qcom,mdss-dsi-te-check-enable;

	//AOD: config switch mode
	qcom,mdss-dsi-panel-mode-switch;
	//qcom,poms-align-panel-vsync;
	qcom,dynamic-mode-switch-enabled;
	//qcom,dynamic-mode-switch-type = "dynamic-switch-immediate";

	qcom,mdss-dsi-panel-AOD-config-enabled;
	qcom,mdss-dsi-panel-AOD-bl-vid-update;
	qcom,mdss-dsi-panel-AOD-command-resend;

	qcom,mdss-dsi-panel-AOD-THRESHOLD-min-nit = <1112>;	//5nit
	qcom,mdss-dsi-panel-AOD-THRESHOLD-hig-nit = <6735>;	//160nit

	qcom,mdss-dsi-panel-AOD-bl-min = <1364>;   //0x0554, <5nit
	qcom,mdss-dsi-panel-AOD-bl-mid = <5292>;   //0x14AC, 5-160nit
	qcom,mdss-dsi-panel-AOD-bl-hig = <16380>;   //0x3FFC, >160nit

	qcom,mdss-dsi-display-timings {
		timing@0 {
			//qcom,mdss-dsi-panel-clockrate = <1095000000>;
			qcom,mdss-dsi-panel-phy-timings = [00 29 0A 0B 1B 1A 0A
				0B 0A 02 04 00 21 10];
			qcom,display-topology = <1 1 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_boe_nt37713_678_1272x2772_dsc_vid {
	qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";

	qcom,dsi-supported-dfps-list = <120 144 90 60>;
	qcom,mdss-dsi-pan-enable-dynamic-fps;
	qcom,mdss-dsi-pan-fps-update = "dfps_immediate_porch_mode_cus";
	qcom,dsi-supported-dfps-vfp-list = <48 44 996 2892>;
	qcom,dsi-supported-dfps-hfp-list = <109 29 109 109>;
	qcom,mdss-dsi-pan-dfps-send-command;

	qcom,panel-supply-entries = <&dsi_panel_pwr_supply_marvel>;
	qcom,mdss-dsi-no-panel-on-read-support;
	qcom,mdss-dsi-bl-pmic-control-type = "bl_ctrl_dcs";
	qcom,mdss-dsi-bl-min-level = <420>;//
	qcom,mdss-dsi-bl-max-level = <16248>;
	qcom,mdss-dsi-bl-default-level = <10230>;
	qcom,mdss-brightness-max-level = <16248>;
	qcom,platform-reset-gpio = <&tlmm 12 0>;
	qcom,bl-dsc-cmd-state = "dsi_lp_mode";

	qcom,mdss-dsi-bl-inverted-dbv;
	qcom,mdss-dsi-bl-is-exponent;

	qcom,mdss-dsi-panel-hdr-enabled;//
	qcom,mdss-dsi-panel-hdr-color-primaries = <14950 15750 34000
	        16000 13000 35500 7000 2500>;
	qcom,mdss-dsi-panel-peak-brightness = <15000000>;
	qcom,mdss-dsi-panel-blackness-level = <1>;

	qcom,mdss-dsi-panel-status-check-mode = "reg_read";
	qcom,mdss-dsi-panel-status-command = [06 01 00 01 00 00 01 0A];
	qcom,mdss-dsi-panel-status-command-state = "dsi_lp_mode";
	qcom,mdss-dsi-panel-status-value = <0x9C>;
	qcom,mdss-dsi-panel-status-read-length = <1>;
	qcom,esd-check-enabled;

	qcom,cellid-read-enabled;//
	qcom,mdss-dsi-panel-cellid-read-length = <23>;
	qcom,mdss-dsi-panel-cellid-command = [06 01 00 01 00 00 01 AC];
	qcom,mdss-dsi-panel-cellid-command-state = "dsi_lp_mode";

	qcom,check_pcd;
	qcom,pcd-reg-read-enabled;
	qcom,pcd-reg-check-before-read;
	qcom,mdss-dsi-panel-pcd-reg-read-length = <1>;
	qcom,mdss-dsi-panel-pcd-reg-mask = <0xFF>;
	qcom,mdss-dsi-panel-pcd-reg-command = [06 01 00 01 00 00 01 D0];
	qcom,mdss-dsi-panel-pcd-reg-pass-array-size = <4>;
	qcom,mdss-dsi-panel-pcd-reg-pass-array = <0x80 0x81 0x82 0x83>;
	qcom,mdss-dsi-panel-pcd-reg-read-delay-ms = <150>;
	qcom,mdss-dsi-panel-pcd-reg-seq-interval = <30>; //pcd reg read seq interval per screen on.
	qcom,mdss-dsi-panel-pcd-check-time-interval-in-minutes = <60>; //pcd reg read time interval in minutes.

	// only parse for cmd panel
	qcom,mdss-dsi-te-pin-select = <1>;
	qcom,mdss-dsi-te-dcs-command = <1>;
	qcom,mdss-dsi-te-using-te-pin;
	qcom,mdss-dsi-te-check-enable;

	//AOD: config switch mode
	qcom,mdss-dsi-panel-mode-switch;
	//qcom,poms-align-panel-vsync;
	qcom,dynamic-mode-switch-enabled;
	//qcom,dynamic-mode-switch-type = "dynamic-switch-immediate";

	qcom,mdss-dsi-panel-AOD-config-enabled;
	qcom,mdss-dsi-panel-AOD-bl-vid-update;
	qcom,mdss-dsi-panel-AOD-command-resend;

	qcom,mdss-dsi-panel-AOD-THRESHOLD-min-nit = <1112>;	//5nit
	qcom,mdss-dsi-panel-AOD-THRESHOLD-hig-nit = <6735>;	//160nit

	qcom,mdss-dsi-panel-AOD-bl-min = <1364>;   //0x0554, <5nit
	qcom,mdss-dsi-panel-AOD-bl-mid = <5292>;   //0x14AC, 5-160nit
	qcom,mdss-dsi-panel-AOD-bl-hig = <16380>;   //0x3FFC, >160nit

	qcom,mdss-dsi-display-timings {
		timing@0 {
			//qcom,mdss-dsi-panel-clockrate = <1095000000>;
			qcom,mdss-dsi-panel-phy-timings = [00 29 0A 0B 1B 1A 0A
				0B 0A 02 04 00 21 10];
			qcom,display-topology = <1 1 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_tm_vtdr6126a_678_1272x2772_dsc_vid {
	qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";

	qcom,dsi-supported-dfps-list = <120 144 90 60>;
	qcom,mdss-dsi-pan-enable-dynamic-fps;
	qcom,mdss-dsi-pan-fps-update = "dfps_immediate_porch_mode_cus";
	qcom,dsi-supported-dfps-vfp-list = <84 84 1044 2964>;
	qcom,dsi-supported-dfps-hfp-list = <108 28 108 108>;
	qcom,mdss-dsi-pan-dfps-send-command;

	qcom,panel-supply-entries = <&dsi_panel_pwr_supply_marvel>;
	qcom,mdss-dsi-no-panel-on-read-support;
	qcom,mdss-dsi-bl-pmic-control-type = "bl_ctrl_dcs";
	qcom,mdss-dsi-bl-min-level = <420>;
	qcom,mdss-dsi-bl-max-level = <16248>;
	qcom,mdss-dsi-bl-default-level = <10230>;
	qcom,mdss-brightness-max-level = <16248>;
	qcom,platform-reset-gpio = <&tlmm 12 0>;
	qcom,bl-dsc-cmd-state = "dsi_lp_mode";

	qcom,mdss-dsi-bl-inverted-dbv;
	qcom,mdss-dsi-bl-is-exponent;

	qcom,mdss-dsi-panel-hdr-enabled;
	qcom,mdss-dsi-panel-hdr-color-primaries = <14950 15750 34000
	        16000 13000 35500 7000 2500>;
	qcom,mdss-dsi-panel-peak-brightness = <15000000>;
	qcom,mdss-dsi-panel-blackness-level = <1>;

	qcom,mdss-dsi-panel-status-check-mode = "reg_read";
	qcom,mdss-dsi-panel-status-command = [06 01 00 01 00 00 01 66];
	qcom,mdss-dsi-panel-status-command-state = "dsi_lp_mode";
	qcom,mdss-dsi-panel-status-value = <0x00 0x00>;
	qcom,mdss-dsi-panel-status-read-length = <2>;
	qcom,esd-check-enabled;

	qcom,cellid-read-enabled;
	qcom,mdss-dsi-panel-cellid-read-length = <23>;
	qcom,mdss-dsi-panel-cellid-command = [06 01 00 01 00 00 01 5A];
	qcom,mdss-dsi-panel-cellid-command-state = "dsi_lp_mode";

	qcom,mdss-dsi-display-timings {
		timing@0 {
			//qcom,mdss-dsi-panel-clockrate = <1095000000>;
			qcom,mdss-dsi-panel-phy-timings = [00 29 0A 0B 1B 1A 0A
				0B 0A 02 04 00 21 10];
			qcom,display-topology = <1 1 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&sde_dsi {
	qcom,dsi-default-panel = <&mot_boe_nt37713_678_1272x2772_dsc_vid>;

	vddio-supply = <&L9B>;
	vdd-supply = <&L6F>;
	vci-supply = <&L19B>;
};

&mot_dummy_vid_qhd {
	qcom,dsi-select-clocks = "pll_byte_clk0", "pll_dsi_clk0";

	qcom,platform-reset-gpio = <&tlmm 12 0>;
	qcom,mdss-dsi-display-timings {
		timing@0{
			qcom,mdss-dsi-panel-width = <1080>;
			qcom,mdss-dsi-panel-height = <2400>;

			qcom,display-topology = <1 0 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&qupv3_se0_spi {
	goodix-berlin-mmi@0 {
		panel = <&mot_boe_nt37713_678_1272x2772_dsc_vid>;
	};
};
