#include "volcano-sde-display-iot-mtp-pm7550ba.dtsi"

&sde_dp {
	status = "ok";
	qcom,dp-aux-switch = <&wcd_usbss>;
};

&mdss_mdp {
	connectors = <&sde_dsi &smmu_sde_unsec &sde_wb2 &sde_dp &sde_rscc>;
};
